nextflow.enable.moduleBinaries = true
process.cache = "lenient"
params.outdir = "/media/vini8cs/HD_vinicius1/benchmark/results"
params.samples = "samples.tsv"
params.publish_dir_mode = "copy"


env {
    PYTHONDONTWRITEBYTECODE=1
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_dag_${trace_timestamp}.html"
    overwrite = true
    verbose = true
}

profiles {
    standard {
        //includeConfig "./conf/tower_defaults.config"
        conda {
            enabled = false
            useMamba = false
        }
        docker {
            enabled    = true
            runOptions = '-u $(id -u):$(id -g)'
        }
        errorStrategy = 'finish'
    }
    stub {
        docker.enabled = false
        conda.enabled = false
        process {
            cpus = 1
            memory = "1 GB"
        }
    }
}

withName: 'SRATOOLS_PREFETCH' {
    publishDir = 
            [
                path: { "${params.outdir}/${meta.id}/Fastq" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }