process {
    withName: SRATOOLS_FASTERQDUMP {
        ext.args = { [ "--outdir", "\${PWD}" ].join(" ") }
    }
    withName: FASTP {
        publishDir = 
                [
                    path: { "${params.outdir}/${meta.id}/FastqFiltered" },
                    mode: params.publish_dir_mode,
                    pattern: "*.{json,html,log}",
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
        ext.args = { ["-q", "20", "-l", "45", "--dont_eval_duplication", "--trim_poly_g", "--trim_poly_x"].join(" ") }
        container = "quay.io/biocontainers/fastp:0.23.4--h5f740d0_0"
    }
    withName: 'HISAT2_.*' {
        container = "quay.io/biocontainers/mulled-v2-a97e90b3b802d1da3d6958e0867610c718cb5eb1:2cdf6bf1e92acbeb9b2834b1c58754167173a410-0"
    }
    withName: RNA_SPADES {
        ext.args = { ["--rna"].join(" ") }
        container = "quay.io/biocontainers/spades:4.0.0--h5fb382e_1"
        ext.prefix = { "rna_${meta.id}" }
    }
    withName: META_SPADES {
        ext.args = { ["--meta"].join(" ") }
        container = "quay.io/biocontainers/spades:4.0.0--h5fb382e_1"
        ext.prefix = { "meta_${meta.id}" }
    }
    withName: CORONA_SPADES {
        ext.args = { ["--corona"].join(" ") }
        container = "quay.io/biocontainers/spades:4.0.0--h5fb382e_1"
        ext.prefix = { "corona_${meta.id}" }
    }
    withName: SPADES {
        container = "quay.io/biocontainers/spades:4.0.0--h5fb382e_1"
        ext.prefix = { "spades_${meta.id}" }
    }
    withName: TRINITY {
        container = "quay.io/biocontainers/trinity:2.15.2--pl5321hdcf5f25_1"
        ext.prefix = { "trinity_${meta.id}" }
    }
    withName: 'CDHIT_.*' {
        container = "quay.io/biocontainers/cd-hit:4.8.1--h5b5514e_7"
        ext.args = { ["-aS", "0.9", "-g", "1", "-n", "9"].join(" ") }
    }
    withName: SEQTK_SEQ {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/Assembly" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
        ext.args = { ["-L", params.minsize].join(" ") }
    }
    withName: QUAST {
         publishDir = [
            path: { "${params.outdir}/${meta.id}/Assembly" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
        container = "quay.io/biocontainers/quast:5.2.0--py39pl5321heaaa4ec_4" 
    }
    withName: DIAMOND_BLASTX {
        ext.args = { ["--max-target-seqs", "10", "--evalue", "0.00001"].join(" ") }
        container = "quay.io/biocontainers/diamond:2.1.8--h43eeafb_0"
        ext.when = { "${fasta}".size() > 0 }
    }   
    withName: DIAMOND_MAKEDB {
        publishDir = [
            path: { new File(params.DIAMOND_DATABASE).parent },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { new File(params.DIAMOND_DATABASE).name.replaceFirst(/\.dmnd$/, '') }
        container = "quay.io/biocontainers/diamond:2.1.8--h43eeafb_0"
    }
    withName: NCBIGENOMEDOWNLOAD {
        container = "quay.io/biocontainers/ncbi-genome-download:0.3.3--pyh7cba7a3_0"
        ext.args = { def basic_args = ["--no-cache", "--formats", "fasta"]
            def retry_args = ["--uri", "https://ftp.ncbi.nlm.nih.gov/genomes"]
            def all_args = basic_args + (task.attempt > 1 ? retry_args : [])
            all_args.join(" ") }
        errorStrategy = { task.exitStatus == 75 ? 'retry' : 'terminate' }
        maxRetries = 2

    }
    withName: XZ_DECOMPRESS {
        container = "quay.io/biocontainers/mulled-v2-796b0610595ad1995b121d0b85375902097b78d4:a3a3220eb9ee55710d743438b2ab9092867c98c6-0" 
    }

    withName: GENOMAD_ENDTOEND {
        container = "quay.io/biocontainers/genomad:1.7.4--pyhdfd78af_0"
    }

    withName: GENOMAD_DOWNLOAD {
        publishDir = [
            path: { new File(params.GENOMAD_DATABASE).parent },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { new File(params.GENOMAD_DATABASE).name }
        container = "quay.io/biocontainers/genomad:1.7.4--pyhdfd78af_0"
    }

    withName: VIRSORTER2_RUN {
        ext.args = { ["--include-groups",  params.virsorter2_virus_groups, "--min-length", params.virsort2_minsize, "--min-score", params.virsorter2_minscore].join(" ") }
    }

    withName: VIRSORTER2_DOWNLOADDATABASE {
        publishDir = [
            path: { new File(params.VIRSORTER2_DATABASE).parent },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { new File(params.VIRSORTER2_DATABASE).name }
    }

    withName: CAP3 {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/Result" },
            pattern: "*_viral_transcripts_cap3.fasta",
            mode: params.publish_dir_mode
        ]
    }

    withName: SEQKIT_RMDUP {
        container = "quay.io/biocontainers/seqkit:2.9.0--h9ee0642_0"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/Result" },
            pattern: "*.fasta",
            mode: params.publish_dir_mode
        ]
    }
    withName: CHECKV_DOWNLOADDATABASE {
        publishDir = [
            path: { new File(params.CHECKV_DATABASE).parent },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { new File(params.CHECKV_DATABASE).name } 
        container = "quay.io/biocontainers/checkv:1.0.1--pyhdfd78af_0"
    }

    withName: UNZIP {
        container = "quay.io/biocontainers/p7zip:16.02"
    }

    withName: SEQTK_SUBSEQ {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }

    withName: SEQKIT_RMDUP {
        container = "quay.io/biocontainers/seqkit:2.9.0--h9ee0642_0"
    }

    withName: 'CHECKV_.*' {
        container = "quay.io/biocontainers/checkv:1.0.1--pyhdfd78af_0"
    }

}
