params {
    TAXONKIT_DATABASE = "gs://<bucket_name>/benchmark/databases_netxflow/.taxonkit"
    GENOMAD_DATABASE = "gs://<bucket_name>/benchmark/databases_netxflow/genomad"
    DIAMOND_DATABASE = "gs://<bucket_name>/benchmark/databases_netxflow/diamond/RVDB.dmnd"
    CHECKV_DATABASE = "gs://<bucket_name>/benchmark/databases_netxflow/checkv"
    BLASTN_DATABASE = "gs://<bucket_name>/benchmark/databases_netxflow/checkv"
    BLASTN_DATABASE_NAME = "core_nt"
    EMAIL = "anonymous@email.com"
    hisat2_build_memory = "4 GB"
    cpus_total = 8
    memory_max = 20
    PROJECT = "gcp_project"
    REGION = "gcp_region"
    spot = true
}
