process {
    withName: SRATOOLS_FASTERQDUMP {
        cpus = 6
    }
    withName: FASTP {
        cpus = 6
    }
    withName: PYTAXONKIT_GETAXONOMY {
        cpus = 6
    }
    withName: NCBIDATASETS_DOWNLOAD {
        cpus = 6
    }
}
