process {
    cpus = { Math.max(1, params.cpus_total.intdiv(params.samples.size())) }
    memory = { "${Math.max(8, (params.memory_max / params.samples.size()).toInteger())} GB" }

    withName: '.*SPADES.*' {
        cpus = { params.cpus_total.intdiv(2) }
        memory = { "${Math.max(50, (params.memory_max / params.samples.size()).toInteger())} GB" }
    }

    withName: TRINITY {
        cpus = { params.cpus_total.intdiv(2) }
        memory = { "${Math.max(50, (params.memory_max / params.samples.size()).toInteger())} GB" }
    }

    withName: MEGAHIT {
        cpus = { params.cpus_total.intdiv(2) }
        memory = { "${Math.max(50, (params.memory_max / params.samples.size()).toInteger())} GB" }
    }

    withName: XZ_DECOMPRESS {
        cpus = "${params.cpus_total}".toInteger()
        memory = "${params.memory_max} GB"
    }
    withName: PROCESSRVDB {
        cpus = "${params.cpus_total}".toInteger()
        memory = "${params.memory_max} GB"
    }
    withName: PROCESSRVDB {
        cpus = "${params.cpus_total}".toInteger()
        memory = "${params.memory_max} GB"
    }
    withName: FINDDMPFILES {
        cpus = "${params.cpus_total}".toInteger()
        memory = "${params.memory_max} GB"
    }
    withName: DIAMOND_MAKEDB {
        cpus = "${params.cpus_total}".toInteger()
        memory = "${params.memory_max} GB"
    }

}
