{
	"assembly_tool": ["megahit","rnaspades", "trinity", "spades"],
	"outdir": "/media/vini8cs/HD_vinicius2/benchmark/results",
	"host_dna_type" : "cds",
	"host_fasta" : "",
	"minsize" : 500,
	"samples": [
	  {  
		"sample_accession": "SRR9705234",
        "sample_host" : "'Apis mellifera'"
	  },
	  {  
		"sample_accession": "SRR32267259",
        "sample_host": "'Homo sapiens'"
	  }
	]
  }
